// text
:root {
  --color-text-primary: #454f5b;
  --color-text-primary-inverse: #ffffff;
  --color-text-secondary: #161c24;
  --color-text-disable: #a4a4a4;
}

//background
:root {
  --color-bg-primary: rgba(0, 0, 0, 0.2);
  --color-bg-secondary: #454F5B;
  --color-bg-accent: #4295E4;
  --color-bg-accent-light: #F2F8FF;
  --color-bg-footer: #0D2436;
}

//stroke
:root {
  --color-stroke: #EAEAEA;
}

//buttons
:root {
  --color-button-primary: #4295E4;
  --color-button-primary-hover: #56A9F8;
  --color-button-primary-active: #2E81D0;
}

//container

:root {
  --container-padding-x: 15px;
}

// fonts
:root {
  --font-title: "PT Sans", -apple-system, BlinkMacSystemFont, "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
  --font-text: "Roboto", -apple-system, BlinkMacSystemFont, "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

