<footer class="footer">
  <div class="footer__container">
    <div class="footer__links">
      <ul class="footer__list">
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >О компании</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#"  color="white" link-in="footer"
          >Контакты</app-link
          >
        </li>
        <li class="footer__item">
          <app-link
            href="#"
            size="sm"
            color="white"
            link-in="footer"
            blank="true"
          >Блог</app-link
          >
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >Онлайн касса</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#"  color="white" link-in="footer"
          >Тарифы</app-link
          >
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <app-link
            href="#"
            color="white"
            link-in="footer"
          >Платежи в Instagram*</app-link
          >
        </li>
        <li class="footer__item">
          <app-link
            href="#"
            color="white"
            link-in="footer"
          >Платежи на сайте</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#"  color="white" link-in="footer"
          >Платежи без сайта</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >Турфирмам</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#"  color="white" link-in="footer"
          >Провайдерам</app-link
          >
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <app-link
            href="#"
            color="white"
            link-in="footer"
          >Документация</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >Поддержка</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >Разработчикам</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >Агентам</app-link
          >
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >Демо магазин</app-link
          >
        </li>
        <li class="footer__item">
          <app-link href="#" color="white" link-in="footer"
          >Оплата услуг</app-link
          >
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__social">
        <app-social></app-social>
      </div>
    </div>
  </div>
</footer>
