<i class="icon"
   [class.icon_size_xs]="size === 'xs'"
   [class.icon_size_sm]="size === 'sm'"
   [class.icon_size_md]="size === 'md'"
   [class.icon_size_lg]="size === 'lg'"
   [class.icon_size_xl]="size === 'xl'"
   [class.icon_size_2xl]="size === '2xl'"
   [class.icon_name_burger]="name === 'burger'"
   [class.icon_name_caret-down]="name === 'caret-down'"
   [class.icon_name_cart]="name === 'cart'"
   [class.icon_name_close]="name === 'close'"
   [class.icon_name_heart]="name === 'heart'"
   [class.icon_name_phone]="name === 'phone'"
   [class.icon_name_evaluate]="name === 'evaluate'"
   [class.icon_name_product-return]="name === 'product-return'"
   [class.icon_name_header-logo]="name === 'header-logo'"
   [class.icon_color_gray]="color === 'gray'"
   [class.icon_color_blue]="color === 'blue'"

></i>
