.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;

  &_size_2xs {
    width: 12px;
    height: 12px;
  }

  &_size_xs {
    width: 14px;
    height: 14px;
  }

  &_size_sm {
    width: 20px;
    height: 20px;
  }

  &_size_md {
    width: 24px;
    height: 24px;
  }

  &_size_lg {
    width: 26px;
    height: 26px;
  }

  &_size_xl {
    width: 32px;
    height: 32px;
  }

  &_size_2xl {
    width: 82px;
    height: 82px;
  }

  &_name_burger {
    background-image: url("/assets/images/icons/burger.svg");
  }

  &_name_caret-down {
    background-image: url("/assets/images/icons/caret-down.svg");
  }

  &_name_cart {
    background-image: url("/assets/images/icons/cart.svg");
  }

  &_name_close {
    background-image: url("/assets/images/icons/close.svg");
  }

  &_name_heart {
    background-image: url("/assets/images/icons/heart.svg");
  }

  &_name_phone {
    mask-image: url("/assets/images/icons/phone.svg");
  }

  &_name_header-logo {
    width: 51px;
    height: 42px;
    background-image: url("/assets/images/icons/logo.svg");
  }

  &_color_blue {
    background-color: var(--color-bg-accent);
  }

  &_color_gray {

  }
}
