.icon {

  &_size_xs {
    width: 12px;
    height: 12px;
  }

  &_size_sm {
    width: 20px;
    height: 20px;
  }

  &_size_md {
    width: 26px;
    height: 26px;
  }

  &_size_lg {
    width: 32px;
    height: 32px;
  }

  &_size_xl {
    width: 82px;
    height: 82px;
  }
}
