@import 'src/assets/scss/core/functions';
@import 'src/assets/scss/core/breakpoints';
@import 'src/assets/scss/core/mixins';
@import 'src/assets/scss/settings';

:host {
	display: none;

	@include media-breakpoint-up(lg) {
		display: block;
	}
}

.nav {
	@include list-clear();

	display: flex;
	column-gap: 32px;

	&__dropdown {
		@include list-clear();
	}

	&__item {
		position: relative;
	}

	&__link {
		display: flex;
		align-items: center;
		font-family: var(--font-text);
		font-size: 20px;
		line-height: 24px;
		text-decoration: none;
		color: var(--color-text-secondary);
		cursor: pointer;
	}
}

.nav-backdrop {
	position: fixed;
	top: 123px;
	left: 0;
	bottom: 0;
	right: 0;
}
