.page-section {
	&_color_accent {
		background-color: var(--color-bg-accent-light);
	}

	&__container {
		@include container();
	}

	&__col {
		display: flex;
		flex-direction: column;
		text-align: center;
	}
}
