.text {
	&_size_xl {
		font-size: 44px;
		line-height: 62px;
	}

	&_size_lg {
		font-size: 32px;
		line-height: 38px;
	}

	&_size_md {
		font-size: 22px;
		line-height: 34px;
	}

	&_size_sm {
		font-size: 20px;
		line-height: 32px;
	}

	&_size_xs {
		font-size: 16px;
		line-height: 26px;
	}

	&_size_2xs {
		font-size: 13px;
		line-height: 21px;
	}

	//<------------------------- Weight -------------------------->

	&_weight_thin {
		font-weight: 300;
	}

	&_weight_regular {
		font-weight: 400;
	}

	&_weight_bold {
		font-weight: 500;
	}

	&_weight_semi-bold {
		font-weight: 600;
	}
}
