.text {
  font-style: normal;

  &_size_2xs {
    font-size: 12px;
  }

  &_size_xs {
    font-size: 16px;
  }

  &_size_sm {
    font-size: 18px;
  }

  &_size_md {
    font-size: 22px;
  }

  &_size_lg {
    font-size: 24px;
  }

  &_size_xl {
    font-size: 32px;
  }

  &_size_2xl {
    font-size: 44px;
  }

  // line-height

  &_line-height_2xs {
    line-height: 20px;
  }

  &_line-height_xs {
    line-height: 26px;
  }

  &_line-height_sm {
    line-height: 28px;
  }

  &_line-height_md {
    line-height: 32px;
  }

  &_line-height_lg {
    line-height: 34px;
  }

  &_line-height_xl {
    line-height: 38px;
  }

  &_line-height_2xl {
    line-height: 42px;
  }

  &_line-height_3xl {
    line-height: 62px;
  }

  &_weight_regular {
    font-weight: 400;
  }

  &_weight_medium {
    font-weight: 500;
  }

  &_weight_semi-bold {
    font-weight: 600;
  }

  &_weight_bold {
    font-weight: 700;
  }
}
