:host {
	display: flex;
}

.category {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 470px;

	border: 1px solid var(--color-stroke);

	&__image {
		margin-top: auto;
		margin-left: auto;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 40px;
		display: flex;
		flex-direction: column;
	}

	&__content {
		margin-top: auto;
		max-width: 300px;
	}
}
