@mixin optional-at-root($sel) {
	@at-root #{if(not &, $sel, selector-append(&, $sel))} {
		@content;
	}
}

@mixin placeholder {
	@include optional-at-root('::-webkit-input-placeholder') {
		@content;
	}

	@include optional-at-root(':-moz-placeholder') {
		@content;
	}

	@include optional-at-root('::-moz-placeholder') {
		@content;
	}

	@include optional-at-root(':-ms-input-placeholder') {
		@content;
	}
}

@mixin container {
	margin-right: auto;
	margin-left: auto;
	padding-right: var(--container-padding-x);
	padding-left: var(--container-padding-x);
	max-width: 1240px;
}

@mixin scollbar {
	&::-webkit-scrollbar {
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track {
		margin-right: 5px;
		background-color: $gray-light-color--up-5;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $primary-color;
		border-radius: 10px;
	}
}

@mixin list-clear {
	margin: 0;
	padding: 0;
	list-style: none;
}

@mixin bg-image($name, $ext) {
	background-image: url($name + '.' + $ext);

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url($name + '@2x.' + $ext);
	}

	@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
		background-image: url($name + '@3x.' + $ext);
	}
}

@mixin clear-link-outline {
	outline: 0;

	&:focus,
	&:active,
	&:hover,
	&:link,
	&:visited {
		outline: 0;
	}
}

@mixin backdrop {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
}

@mixin btn-default {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}
